[Desktop Entry]
Name=Virtualee
Version=2.1
Comment=Client for eie-virtual site
Exec=virtualee
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/logo_virtualee.png
Categories=Application;
